.hidden= "#{@identity}"
= partial(:_navbar)
.container
  .col-md-9
    .jumbotron
      %script{:type=>"text/javascript", :src=>"/js/swfobject.js"}
      - if @identity
        %h3 Controller
      %h3 
      #ytapiplayer
        %p You need Flash player 8+ and JavaScript enabled to view this video.
      %script{:type=>"text/javascript"}
        var params = { allowScriptAccess: "always", allowFullScreen: "true", wmode: "transparent" };
        var atts = { id: "myytplayer" };
        swfobject.embedSWF("http://www.youtube.com/v/#{@video}?enablejsapi=1&playerapiid=ytplayer&version=3#{@nocontrols}", "ytapiplayer", "425", "356", "8", null, null, params, atts);
      %p Share with friends: <a href="/video/#{@link}", target="_blank">http://watch-withme.herokuapp.com/video/#{@link}</a><br><span class="glyphicon glyphicon-paperclip" id="copy-button" data-clipboard-text="http://watch-withme.herokuapp.com/video/#{@link}" title="Click to copy."></span>
  .col-md-3
    .chatbox
      .page-header
        %h1 Chat
      #chat-text
      %form{:id=>"handle-form", :class=>"form-inline"}
        .form-group
          %input{:id=>"input-handle", :type=>"text", :class=>"form-control", :placeholder=>"Enter handle", :autofocus=>"true"}
      %form{:id=>"chat-form", :class=>"form-inline inactive"}
        .form-group
          %input{:id=>"input-text", :type=>"textarea", :class=>"form-control", :placeholder=>"Enter chat text here", :autofocus=>"true"}
%script{:src=>"/js/ZeroClipboard.min.js"}
%script{:src=>"/js/video.js"}